html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}

#header_test {
margin: auto;
padding-left:10px;
padding-right:10px;
font-family:  Arial, sans-serif;
    font-size:25px;
    font-weight:500;
max-width: 800px;
}

#header {
    background:#f1f1f1;
padding-top:10px;
padding-bottom:10px;
    
}

#body {
    padding:0px;
    padding-bottom:20px;   /* Height of the footer */
	max-width: 800px;
margin: auto;
padding-left:10px;
padding-right:10px;
}

#footer {
    position:absolute;
    bottom:0;
    padding-left:0px;
    width:100%;
    height:20px;   /* Height of the footer */
    background:#f1f1f1;
}
